<div id="soundfile_recorder"
     class="recorder" 
     data-blob-field-name="<%= blob_field_name %>">
  <div class="control">
    <button type="button" class="btn btn-danger record-stop-button">
      <div class="record-button">
        <span class="glyphicon glyphicon-record"></span>
        Record
      </div>
      <div class="stop-button">
        <span class="glyphicon glyphicon-stop"></span>
        Stop
      </div>
    </button>
  </div>
</div>
