<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>This is a convenient way to manage your sound files for language classes. &nbsp;It allows you to keep track of your submitted sound files and hear your teachers&rsquo; audio comments for your sound files.</p>
  <p>
  <%= link_to 'Sign in with Peddie Email account', '/auth/google_oauth2', :class => 'btn btn-primary btn-lg' %>
  </p>
</div>
