<h1>New response</h1>

<%= form_for([@response.assignment.course, @response.assignment, @response]) do |f| %>
  <%= render 'form_errors' %>

  <div id="audio_file" class="field">
    <div class="soundfile-recorder"
         data-toggle-button="button#recording_toggle"
         data-preview-area="ul#recording_preview"
         data-blob-field-name="response[audio_file_io]"></div>
    <button type="button" id="recording_toggle">start recording</button>
    <ul id="recording_preview"></ul>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', course_assignment_responses_path %>
