<% breadcrumb :response, @response %>

<h1>New response</h1>

<div class="col-md-7">
  <%= form_for([@response.assignment.course, @response.assignment, @response], html: {multipart: true}) do |f| %>
    <div id="audio_file" class="field">
      <%= render 'shared/recorder', locals = { :blob_field_name => 'response[audio_file_io]' } %>
    </div>
    
    <div class="actions">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
